* {
  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive;
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  background-color: #b3adad;
  background-image: url("./images/bg-img.jpg");
  background-blend-mode: multiply;
  background-position: right;
  background-size: cover;
  color: white;
  padding: 1em;
  margin: 0;
  height: 167px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px whitesmoke;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s;
}

button:hover,
button:focus {
  opacity: 0.7;
}

main {
  padding: 1em;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

dialog {
  font-family: "Verdana";
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  border: 0;
  padding: 1em;
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  transition: 0.5s ease-in;
  text-align: center;
}

dialog input {
  display: block;
  font-family: inherit;
  margin-block: 1em;
  height: 41px;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #757575;
}
dialog .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  font-size: 1.4rem;
}

#modal[open],
#review-modal {
  animation: slide-up 0.3s forwards, fade-in 0.3s forwards;
}
#modal[closing],
#review-modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 0.3s forwards;
}
#modal[closing]::backdrop {
  animation: fade-out 0.3s forwards;
}

.btn {
  background-color: #16db99;
  color: white;
  font-family: "Verdana";
  border: 0;
  width: 100%;
  padding: 0.8em;
}

.deal-container {
  background-color: #065f46;
}
.deal {
  color: white;
  padding: 1em;
  margin-block: 0;
  text-align: center;
  letter-spacing: 1px;
  /* animation: move 15s ease-in-out infinite forwards; */
}
.deal:hover {
  animation: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  height: 140px;
  border-bottom: 1px solid #d2d2d2;
}
.menu-content {
  display: flex;
  align-items: center;
  gap: 1em;
}

.emoji {
  font-size: 78.72px;
  margin-right: 0.1em;
  width: 40%;
}

.add-btn {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
}

#cart-title {
  text-align: center;
}
.cart {
  border-bottom: 1px solid black;
}
.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.order .order-details {
  display: flex;
  align-items: baseline;
}
.quantity {
  width: 30px;
}
.remove-btn {
  color: #bbbbbb;
  border: 0;
  background-color: transparent;
  font-size: 0.75rem;
}
.justify-space-between {
  display: flex;
  justify-content: space-between;
}
.total-price {
  padding-top: 1em;
}
.complete-order-btn {
  margin-top: 1em;
}

#discount {
  display: none;
}

.message {
  display: none;
  text-align: center;
  background-color: #ecfdf5;
  color: #065f46;
  padding: 1em;
  transition: 0.3s ease-out;
}

#stars {
  margin-block: 1em;
}

#no-thanks-btn {
  background-color: #16db99;
  color: white;
  padding: 0.5em 1.5em;
}
.outlined-star {
  cursor: pointer;
  margin-right: 0.3em;
}
.star-filled {
  background-image: url("/images/star-filled.svg");
}

@keyframes move {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media (min-width: 900px) {
  html {
    font-size: 120%;
  }
  header {
    height: 250px;
  }
  main {
    display: flex;
    justify-content: space-evenly;
  }

  #menu-items {
    width: 50%;
  }

  #order {
    width: 40%;
  }
}
